{% extends 'templates/base-dashboard.html' %}
{% load static %}

{% block title %}Morris Charts{% endblock %}

{% block extra_css %}
<!-- Morris Charts css -->
<link href="{% static 'libs/morris.js/morris.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- Start Content-->
<div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
    <div class="flex-grow-1">
        <h4 class="fs-18 fw-semibold m-0">Morris Charts</h4>
    </div>

    <div class="text-end">
        <ol class="breadcrumb m-0 py-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
            <li class="breadcrumb-item active">Morris Charts</li>
        </ol>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<!-- Morris Charts js -->
<script src="{% static 'libs/morris.js/morris.min.js' %}"></script>
<script src="{% static 'libs/raphael/raphael.min.js' %}"></script>

<!-- Morris Charts init -->
<script src="{% static 'js/pages/morris.init.js' %}"></script>
{% endblock %}